<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chomeBrowser"></parameter>
<listeners>
<listener class-name="com.ab.utilities.ListenerZ"></listener>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ab.testLayer.AddToCartFunctionalityTest"/>
      <class name="com.ab.testLayer.LoginFuntionalityTest"/>
      <class name="com.ab.testLayer.SignUpFuctionalityTest"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
